<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Same title on which it gets opened.</title>
    <link rel="stylesheet" href="./SettingsModal.css">
</head>
<body>
    
    <!-- Modal to be appear only when user clicks on settings button of his/her profile page. -->

    <main class="modal_container">

        <div class="modal">
            <ul class="settings">
                <li>Change Password</li>
                <li>QR Code</li>
                <li>Apps and Websites</li>
                <li>Notifications</li>
                <li>Privacy and Security</li>
                <li>Login Activity</li>
                <li>Emails from Instagram</li>
                <li>Report a Problem</li>
                <li>Log Out</li>
                <li>Cancel</li>
            </ul>
        </div>

    </main>


</body>
</html>